html body{
	height: 100%;
	width: 100%;
	background-color: black;
	color: black;
}
body a{
	color: black;
}
#wrapper{
	height: 100%;
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 5%;
	background-color: red;
	padding: 2%;
}
img {
	height: 40%;
	/*float: left;*/
	/*margin-bottom: 30%;*/
}
.buttons{
	height: 40%;
}
#profile{
	float: left;
	width: 50%;
}
#button1{
	/*padding: 1%;*/
	background-color:purple;
	/*float: pef;*/
	border:3px solid;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	text-align: center;
	padding: 1% 10%;
	margin-left: 64%;
	width: 10%;
	/*padding-right: 8%;*/
	/*margin-right:-15%; */
	font-size: 33px;
	margin-bottom: 1%;


}
#button2{
	/*padding: 1%;*/
	background-color:purple;
	/*float: right;*/
	border:3px solid;
	margin-bottom: 1%;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	text-align: center;
	padding: 1% 10%;
margin-left: 60%;
	width: 10%;
	/*padding-right: 8%;*/
	/*margin-right:-15%; */
	font-size: 33px;
}
#button3{
	background-color:purple;
	border:3px solid;
	margin-left: 56%;
	margin-bottom: 1%;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	text-align: center;
	padding: 1% 10%;
	width: 10%;
	font-size: 33px;
}
#button4{
	/*padding: 1%;*/
	background-color:purple;
	/*float: right;*/
	margin-left: 52%;
	border:3px solid;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	text-align: center;
	padding: 1% 10%;

	width: 10%;
	/*padding-right: 8%;*/
	/*margin-right:-15%; */
	font-size: 33px;
}
#name{
	background-color:purple;
	border:3px solid;
	margin-bottom: 2%;
	border-radius: 100px;
	text-align: center;
	padding: 1% 5%;
	width: 20%;
	font-size: 33px;
}