#Character{
    float: left;
    /*background-image:url("../../img/PlayerCharacterCreation.png");*/
    height:420px;
    width: 300px;
}

#HeadMin , #TorsoMin, #LegsMin{
    margin:5px 5px 5px 5px;
    height: 130px; 
    width: 50px;
    background-color:aqua;
}
#HeadPlus, #TorsoPlus, #LegsPlus{
    margin:5px 5px 5px 5px;
    height: 130px; 
    width: 50px;
    background-color:aquamarine;
}
.spacebetween{
    height:5px;
    width:50px;
    float:left;
}
#LeftChoices{
    width: 50px;
    height:420px;
    float:left;
}
#RightChoices{
    width: 50px;
    height:420px;
    float:left;
}
